.S5RightFoo1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 5rem 5rem;

    h2 {
        color: rgb(44, 44, 44);
        margin-bottom: 2rem;
        font-size: 14px;
    }

    input {}


}