@mixin LargeScreen {



    .Section5Slider {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        padding: 1rem 1rem;

        img {
            height: auto;
            max-width: 100%;
            margin-bottom: 1rem;
        }

        h2 {
            font-size: 13px;
            font-weight: 400;
        }
    }

}

@mixin MediumScreen {



    .Section5Slider {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        padding: 1rem 1rem;

        img {
            height: auto;
            max-width: 100%;
            margin-bottom: 1rem;
        }

        h2 {
            font-size: 13px;
            font-weight: 400;
        }
    }

}


@mixin SmallScreen {



    .Section5Slider {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        padding: .5rem 1rem;

        img {
            height: auto;
            max-width: 100%;
            margin-bottom: .5rem;
        }

        h2 {
            font-size: 8px;
            font-weight: 400;
        }
    }

}

@mixin ExtraSmallScreen {



    .Section5Slider {
        display: none;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        padding: .5rem 1rem;

        img {
            height: auto;
            max-width: 100%;
            margin-bottom: .5rem;
        }

        h2 {
            font-size: 8px;
            font-weight: 400;
        }
    }

}

@media (min-width:120px) and (max-width:480px) {

    /* smartphones, iPhone, portrait 480x320 phones */
    @include ExtraSmallScreen()
}

@media (min-width:481px) and (max-width:640px) {

    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    @include ExtraSmallScreen()
}

@media (min-width:641px) and (max-width:960px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    @include SmallScreen()
}

@media (min-width:961px) and (max-width:1640px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    @include MediumScreen()
}

@media(min-width:1641px) and (max-width:2600px) {
    @include LargeScreen()
}