.Section4Card {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;

    img {
        height: 60%;
        width: 60%;
        margin-bottom: 2rem;
        padding: 1rem 1rem;
    }

    p {
        color: grey;
    }
}