$color1:rgb(248, 247, 245);
$font-color2 :#4c4c4b;

.navbar2.active {
    background-color: $color1;
    top: 0;
    color: gray;
    z-index: 99;
    box-shadow: 0px 15px 10px -15px rgb(94, 92, 92);


}

// .navbar2:hover {
//     background-color: white;
//     color: gray;
//     border-bottom: 1px solid rgb(225, 218, 218);
//     z-index: 99;
// }

.navbar2 {
    position: fixed;
    top: 5vh;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    height: 5vh;
    width: 100%;
    background-color: none;
    color: white;
    z-index: 99;

    &:hover {
        background-color: white;
        color: gray;
        border-bottom: 1px solid rgb(225, 218, 218);
        z-index: 99;
    }


    .centernav {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 18px;
        letter-spacing: 8px;
        font-weight: 600;



    }


    .leftnav {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        align-items: center;

        .leftitems {
            display: flex;
            margin-right: 1rem;
            font-size: 13px;
            cursor: pointer;
            height: 100%;
            justify-content: center;
            align-items: center;

        }




        .leftitems:hover {
            border-bottom: 1px solid rgb(225, 215, 215);
            color: $font-color2;

        }

    }

    .rightnav {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        align-items: center;

        .rightitems {
            margin-right: 1rem;
            font-size: 13px;
            cursor: pointer;

        }

        .rightitems:hover {
            color: $font-color2;
        }

    }




}




@media (min-width:120px) and (max-width:480px) {

    /* smartphones, iPhone, portrait 480x320 phones */

}

@media (min-width:481px) and (max-width:640px) {

    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

}

@media (min-width:641px) and (max-width:960px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width:961px) and (max-width:1500px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */

}