#s1card-img {
    height: 50%;
    width: 100%;
}


.section1 {
    display: grid;
    height: 80vh;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 0 5rem;
    width: 100%;
    border-bottom: 1px solid grey;


}