@mixin LargeScreen {



    .section1 {


        height: 100vh;


        padding: 5rem 5rem;

        .container-s1 {
            padding: 5rem 5rem;


            display: grid;

            grid-template-columns: 1fr 1fr 1fr;
            gap: 1.5rem;
            padding-bottom: 3rem;


            border-bottom: 1px solid rgb(225, 220, 220);



        }
    }

}


@mixin MediumScreen {



    .section1 {


        height: auto;



        .container-s1 {
            padding: 5rem 5rem;


            display: grid;

            grid-template-columns: 1fr 1fr 1fr;
            gap: 1.5rem;
            padding-bottom: 3rem;


            border-bottom: 1px solid rgb(225, 220, 220);



        }
    }

}




@mixin SmallScreen {



    .section1 {


        height: auto;




        .container-s1 {

            padding: 1rem 1rem;

            display: grid;

            grid-template-columns: 1fr 1fr 1fr;
            gap: 1rem;
            padding-bottom: 1rem;


            border-bottom: 1px solid rgb(225, 220, 220);



        }
    }

}






@media (min-width:120px) and (max-width:480px) {

    /* smartphones, iPhone, portrait 480x320 phones */
    @include SmallScreen()
}

@media (min-width:481px) and (max-width:640px) {

    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    @include SmallScreen()
}

@media (min-width:641px) and (max-width:960px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    @include SmallScreen()
}

@media (min-width:961px) and (max-width:1640px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    @include MediumScreen()
}

@media(min-width:1641px) and (max-width:2600px) {
    @include LargeScreen()
}