$font-topcontainer: 'Bodoni Moda',
serif;

button {
    cursor: pointer;
}


.topcontainer {
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;


    .topContainerBG {
        height: 100%;
    }

    .topContainer-Center {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .topContainer-header {
            font-family: $font-topcontainer;
            font-size: 76px;
            margin-bottom: 2rem;

        }

        .topContainer-items {
            font-size: 29px;
            margin-bottom: 1rem;
        }

        .topContainer-button {
            text-align: center;
            margin-top: 2rem;
            width: 7rem;
            height: 2.7rem;
            border: none;
            color: rgb(58, 55, 55);
            z-index: 1;

        }



    }


    .topContainer-foo {
        position: absolute;
        left: 2.5rem;
        bottom: 2rem;
        color: white;
        font-size: 14px;
    }




}