$font-topcontainer: 'Bodoni Moda',
serif;







@mixin LargeScreen {

    button {
        cursor: pointer;
        outline: none
    }


    .topcontainer {
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;


        .topContainerBG {
            max-width: 100%;

            height: auto;
        }

        .topContainer-Center {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .topContainer-header {
                font-family: $font-topcontainer;
                font-size: 108px;

                margin-bottom: 2rem;


            }

            .topContainer-items {
                font-size: 29px;
                margin-bottom: 1rem;
            }

            .topContainer-button {
                text-align: center;
                margin-top: 2rem;
                width: 7rem;
                height: 2.7rem;
                border: none;
                color: rgb(58, 55, 55);
                z-index: 1;

            }



        }


        .topContainer-foo {
            position: absolute;
            left: 2.5rem;
            bottom: 2rem;
            color: white;
            font-size: 14px;
        }




    }

}




@mixin MediumScreen {

    button {
        cursor: pointer;
        outline: none
    }


    .topcontainer {
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;


        .topContainerBG {


            max-width: 100%;

            height: auto;
        }

        .topContainer-Center {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .topContainer-header {
                font-family: $font-topcontainer;
                font-size: 60px;

                margin-bottom: 1rem;


            }

            .topContainer-items {
                font-size: 18px;
                margin-bottom: 0.5rem;
            }

            .topContainer-button {
                text-align: center;
                margin-top: 2rem;
                width: 7rem;
                height: 2.7rem;
                border: none;
                color: rgb(58, 55, 55);
                z-index: 1;

            }



        }


        .topContainer-foo {
            position: absolute;
            left: 2.5rem;
            bottom: 2rem;
            color: white;
            font-size: 14px;
        }




    }

}





@mixin SmallScreen {

    button {
        cursor: pointer;
        outline: none
    }


    .topcontainer {
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;


        .topContainerBG {

            max-width: 100%;

            height: auto
        }

        .topContainer-Center {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .topContainer-header {
                font-family: $font-topcontainer;
                font-size: 40px;

                margin-bottom: 1rem;


            }

            .topContainer-items {
                font-size: 10px;
                margin-bottom: 0.5rem;
            }

            .topContainer-button {
                text-align: center;
                margin-top: 2rem;
                width: 7rem;
                height: 2.7rem;
                border: none;
                color: rgb(58, 55, 55);
                z-index: 1;

            }



        }


        .topContainer-foo {
            display: none;
            position: absolute;
            left: 2.5rem;
            bottom: 2rem;
            color: white;
            font-size: 14px;
        }




    }

}





@mixin XtraSmallScreen {

    button {
        cursor: pointer;
        outline: none
    }


    .topcontainer {
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;


        .topContainerBG {

            max-width: 100%;

            height: auto
        }

        .topContainer-Center {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .topContainer-header {
                font-family: $font-topcontainer;
                font-size: 20px;

                margin-bottom: 1rem;


            }

            .topContainer-items {
                font-size: 10px;
                margin-bottom: 0.5rem;
            }

            .topContainer-button {
                text-align: center;
                margin-top: 2rem;
                width: 7rem;
                height: 2.7rem;
                border: none;
                color: rgb(58, 55, 55);
                z-index: 1;

            }



        }


        .topContainer-foo {
            display: none;
            position: absolute;
            left: 2.5rem;
            bottom: 2rem;
            color: white;
            font-size: 14px;
        }




    }

}










@media (min-width:120px) and (max-width:480px) {

    /* smartphones, iPhone, portrait 480x320 phones */
    @include XtraSmallScreen()
}

@media (min-width:481px) and (max-width:640px) {

    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    @include XtraSmallScreen()
}

@media (min-width:641px) and (max-width:960px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    @include SmallScreen()
}

@media (min-width:961px) and (max-width:1640px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    @include MediumScreen()
}

@media(min-width:1641px) and (max-width:2600px) {
    @include LargeScreen()
}