.DenimSlider {
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem 1rem;

    h1 {
        margin-bottom: 2rem;
        font-weight: 400;
    }

    .SliderBody {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;

        #leftBtn {
            position: absolute;
            top: 40%;
            left: -25px;
            font-size: 2rem;
            font-weight: 400;

        }

        #rightBtn {
            position: absolute;
            top: 40%;
            right: -25px;
            font-size: 2rem;
            font-weight: 400
        }

        .card1 {
            display: flex;
            flex-direction: column;

            .desc {
                margin-top: .7rem;
            }

            p {
                font-size: 13px;
                margin: 0.1rem 0;
            }

            img {
                height: auto;
                max-width: 100%;
            }

        }
    }
}