@mixin LargeScreen {


    .Section2_Card {
        display: flex;
        flex-direction: column;

        img {
            height: auto;
            max-width: 100%;
        }

        p {
            text-align: left;
            margin: 1rem 0;
            font-size: 16px;

            letter-spacing: 1.3px;

        }

        .Section2-foo {
            color: grey;
        }



    }

}

@mixin MediumScreen {


    .Section2_Card {
        display: flex;
        flex-direction: column;

        img {
            height: auto;
            max-width: 100%;
        }

        p {
            text-align: left;
            margin: 1rem 0;
            font-size: 17px;
            line-height: 21px;
            letter-spacing: 1.3px;

        }

        .Section2-foo {
            color: grey;
        }



    }

}

@mixin SmallScreen {


    .Section2_Card {
        display: flex;
        flex-direction: column;

        img {
            height: auto;
            max-width: 100%;
        }

        p {
            text-align: left;
            margin: 1rem 0;
            font-size: 13px;



        }

        .Section2-foo {
            color: grey;
        }



    }

}

@mixin ExtraSmallScreen {


    .Section2_Card {
        display: flex;
        flex-direction: column;

        img {
            height: auto;
            max-width: 100%;
        }

        p {
            text-align: left;
            margin: 0.5rem 0;
            font-size: 10px;



        }

        .Section2-foo {
            color: grey;
        }



    }

}




@media (min-width:120px) and (max-width:480px) {

    /* smartphones, iPhone, portrait 480x320 phones */
    @include ExtraSmallScreen()
}

@media (min-width:481px) and (max-width:640px) {

    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    @include ExtraSmallScreen()
}

@media (min-width:641px) and (max-width:960px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    @include SmallScreen()
}

@media (min-width:961px) and (max-width:1640px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    @include MediumScreen()
}

@media(min-width:1641px) and (max-width:2600px) {
    @include LargeScreen()
}